header {

}

h1 {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgb(62, 4, 133);
    padding: 20px;
    border-radius: 5px;
}

h2 {
    color: rgb(0, 0, 0);
}

.tabbar a {
    display: flex;
    padding: 10px 15px;
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    gap: 15px;
    margin-bottom: 10px;
    border-bottom: 3px solid transparent;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.tab {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    margin-right: 10px;
    border-bottom: 3px solid transparent;
    transition: color 0.3s, border-bottom 0.3s;
    white-space: nowrap;
}

.tab.active {
  border-bottom: 3px solid #0077ff;
  font-weight: bold;
}

.tab:hover {
  color: #0077ff;
}

.tab__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
  opacity: 0.9;
}

.tab[aria-current="page"] {
  border-bottom: 3px solid #0077ff;
  font-weight: bold;
}

.tabbar::-webkit-scrollbar {
    height: 8px
}